// 不换行 省略
@mixin no-wrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// bottom-1px

@mixin border-bottom-1px($color: #c3cbc2) {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid $color;
  color: $color;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

@mixin border-top-1px($color: #c3cbc2) {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid $color;
  color: $color;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

@mixin bg-image($url) {
  @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {
    background: url($url+"@2x.png") no-repeat;
    background-size: contain;
  }

  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background: url($url+"@3x.png") no-repeat;
    background-size: contain;
  }
  background: url($url+"@plus.png") no-repeat;
  background-size: contain;
}
