$color-background: #2ca2f9;
$color-background-x: #f2f3f4;
$color-background-player: rgba(0, 0, 0, 0.9);

$color-background-d: rgba(0, 0, 0, 0.35);

// 字体颜色定义规范
$font-color-dark: #333;
$font-color-f: #fff;
$font-color-gray: #c3cbc2;
$font-color-g: #757575;

$font-color-light: #f49a2e;
$font-color-k: #2ca2f9;
$font-color-m: #ff5800;
$font-color-q: #e13228;

//  阴影颜色

$shadow: #dbd3ccc0;
